#s-00f58284-084c-495f-b405-89fccd8fb1dc #s-Text_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-00f58284-084c-495f-b405-89fccd8fb1dc #s-Flat-button-light {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-00f58284-084c-495f-b405-89fccd8fb1dc #s-Text_5 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-00f58284-084c-495f-b405-89fccd8fb1dc #s-Text_6 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-00f58284-084c-495f-b405-89fccd8fb1dc #s-Flat-button-light_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-00f58284-084c-495f-b405-89fccd8fb1dc #s-Flat-button-light_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-00f58284-084c-495f-b405-89fccd8fb1dc #s-Flat-button-light_3 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-00f58284-084c-495f-b405-89fccd8fb1dc #s-Text_3 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-00f58284-084c-495f-b405-89fccd8fb1dc #s-Text_8 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-00f58284-084c-495f-b405-89fccd8fb1dc #s-Label_37 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-00f58284-084c-495f-b405-89fccd8fb1dc #s-Label_3 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=93) ;
filter: alpha(opacity=93) ;
margin-left: 0px;
margin-top: 0px;
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-00f58284-084c-495f-b405-89fccd8fb1dc > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}