#s-00f58284-084c-495f-b405-89fccd8fb1dc #s-Text_1 {
-ms-transform: rotate(0.0deg);
}
#s-00f58284-084c-495f-b405-89fccd8fb1dc #s-Flat-button-light {
border-top-width: 0px;
border-top-style: solid;
border-top-color: #08AE9E;
border-right-width: 0px;
border-right-style: solid;
border-right-color: #08AE9E;
border-bottom-width: 0px;
border-bottom-style: solid;
border-bottom-color: #08AE9E;
border-left-width: 0px;
border-left-style: solid;
border-left-color: #08AE9E;
border-radius: 3px 3px 3px 3px;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
width: 356px;
height: 42px;
-ms-transform: rotate(0.0deg);
}
#s-00f58284-084c-495f-b405-89fccd8fb1dc #s-Text_5 {
-ms-transform: rotate(0.0deg);
}
#s-00f58284-084c-495f-b405-89fccd8fb1dc #s-Text_6 {
-ms-transform: rotate(0.0deg);
}
#s-00f58284-084c-495f-b405-89fccd8fb1dc #s-Flat-button-light_1 {
border-top-width: 0px;
border-top-style: solid;
border-top-color: #08AE9E;
border-right-width: 0px;
border-right-style: solid;
border-right-color: #08AE9E;
border-bottom-width: 0px;
border-bottom-style: solid;
border-bottom-color: #08AE9E;
border-left-width: 0px;
border-left-style: solid;
border-left-color: #08AE9E;
border-radius: 2px 2px 2px 2px;
padding-top: 1px;
padding-right: 1px;
padding-bottom: 1px;
padding-left: 1px;
width: 110px;
height: 31px;
-ms-transform: rotate(0.0deg);
}
#s-00f58284-084c-495f-b405-89fccd8fb1dc #s-Flat-button-light_2 {
border-top-width: 0px;
border-top-style: solid;
border-top-color: #08AE9E;
border-right-width: 0px;
border-right-style: solid;
border-right-color: #08AE9E;
border-bottom-width: 0px;
border-bottom-style: solid;
border-bottom-color: #08AE9E;
border-left-width: 0px;
border-left-style: solid;
border-left-color: #08AE9E;
border-radius: 2px 2px 2px 2px;
padding-top: 1px;
padding-right: 1px;
padding-bottom: 1px;
padding-left: 1px;
width: 100px;
height: 24px;
-ms-transform: rotate(0.0deg);
}
#s-00f58284-084c-495f-b405-89fccd8fb1dc #s-Flat-button-light_3 {
border-top-width: 0px;
border-top-style: solid;
border-top-color: #08AE9E;
border-right-width: 0px;
border-right-style: solid;
border-right-color: #08AE9E;
border-bottom-width: 0px;
border-bottom-style: solid;
border-bottom-color: #08AE9E;
border-left-width: 0px;
border-left-style: solid;
border-left-color: #08AE9E;
border-radius: 2px 2px 2px 2px;
padding-top: 1px;
padding-right: 1px;
padding-bottom: 1px;
padding-left: 1px;
width: 160px;
height: 29px;
-ms-transform: rotate(0.0deg);
}
#s-00f58284-084c-495f-b405-89fccd8fb1dc #s-Text_3 {
-ms-transform: rotate(0.0deg);
}
#s-00f58284-084c-495f-b405-89fccd8fb1dc #s-Text_8 {
-ms-transform: rotate(0.0deg);
}
#s-00f58284-084c-495f-b405-89fccd8fb1dc #s-Label_37 {
-ms-transform: rotate(0.0deg);
}
#s-00f58284-084c-495f-b405-89fccd8fb1dc #s-Label_3 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=93);
filter: alpha(opacity=93);
-ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-00f58284-084c-495f-b405-89fccd8fb1dc > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}