#s-1df5f44c-bc7b-4b64-a13c-0b7be4ee70fd > #backgroundBox {
background-color: transparent;
background-image: none;
position: absolute;
}
#s-1df5f44c-bc7b-4b64-a13c-0b7be4ee70fd > #alignmentBox {
position: relative;
width: 100%;
height: 100%;
}
#s-1df5f44c-bc7b-4b64-a13c-0b7be4ee70fd #s-Flat-button-light {
position: absolute;
top: 200px;
left: 59px;
width: 246px;
height: 42px;
background-color: #08AE9E;
background-image: none;
border-top-width: 0px;
border-top-style: solid;
border-top-color: #08AE9E;
border-right-width: 0px;
border-right-style: solid;
border-right-color: #08AE9E;
border-bottom-width: 0px;
border-bottom-style: solid;
border-bottom-color: #08AE9E;
border-left-width: 0px;
border-left-style: solid;
border-left-color: #08AE9E;
border-radius: 3px 3px 3px 3px;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: 0px 3px 4px 0px #A0A0A0;
text-shadow: none;
font-size: 15.0pt;
font-family: Roboto-Regular,Arial;
}
#s-1df5f44c-bc7b-4b64-a13c-0b7be4ee70fd #s-Flat-button-light .valign {
vertical-align: middle;
text-align: center;
}
#s-1df5f44c-bc7b-4b64-a13c-0b7be4ee70fd #s-Flat-button-light span {
color: #FFFFFF;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 15.0pt;
}
#s-1df5f44c-bc7b-4b64-a13c-0b7be4ee70fd #s-Flat-button-light span#rtr-s-Flat-button-light_0 {
color: #FFFFFF;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 15.0pt;
line-height: 0px;
}
#s-1df5f44c-bc7b-4b64-a13c-0b7be4ee70fd #s-Text_3 {
position: absolute;
top: 276px;
left: 162px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 11.0pt;
font-family: Roboto-Bold,Arial;
}
#s-1df5f44c-bc7b-4b64-a13c-0b7be4ee70fd #s-Text_3 .valign {
vertical-align: middle;
text-align: left;
}
#s-1df5f44c-bc7b-4b64-a13c-0b7be4ee70fd #s-Text_3 span {
color: #808080;
text-align: left;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 11.0pt;
}
#s-1df5f44c-bc7b-4b64-a13c-0b7be4ee70fd #s-Text_3 span#rtr-s-Text_3_0 {
color: #808080;
text-align: left;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 11.0pt;
line-height: 0px;
}
#s-1df5f44c-bc7b-4b64-a13c-0b7be4ee70fd #s-Flat-button-light_1 {
position: absolute;
top: 322px;
left: 58px;
width: 246px;
height: 42px;
background-color: #08AE9E;
background-image: none;
border-top-width: 0px;
border-top-style: solid;
border-top-color: #08AE9E;
border-right-width: 0px;
border-right-style: solid;
border-right-color: #08AE9E;
border-bottom-width: 0px;
border-bottom-style: solid;
border-bottom-color: #08AE9E;
border-left-width: 0px;
border-left-style: solid;
border-left-color: #08AE9E;
border-radius: 3px 3px 3px 3px;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: 0px 3px 4px 0px #A0A0A0;
text-shadow: none;
font-size: 15.0pt;
font-family: Roboto-Regular,Arial;
}
#s-1df5f44c-bc7b-4b64-a13c-0b7be4ee70fd #s-Flat-button-light_1 .valign {
vertical-align: middle;
text-align: center;
}
#s-1df5f44c-bc7b-4b64-a13c-0b7be4ee70fd #s-Flat-button-light_1 span {
color: #FFFFFF;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 15.0pt;
}
#s-1df5f44c-bc7b-4b64-a13c-0b7be4ee70fd #s-Flat-button-light_1 span#rtr-s-Flat-button-light_1_0 {
color: #FFFFFF;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 15.0pt;
line-height: 0px;
}
#s-1df5f44c-bc7b-4b64-a13c-0b7be4ee70fd #s-Text_4 {
position: absolute;
top: 619px;
left: 83px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 8.0pt;
font-family: Roboto-Bold,Arial;
}
#s-1df5f44c-bc7b-4b64-a13c-0b7be4ee70fd #s-Text_4 .valign {
vertical-align: middle;
text-align: left;
}
#s-1df5f44c-bc7b-4b64-a13c-0b7be4ee70fd #s-Text_4 span {
color: #808080;
text-align: left;
text-decoration: underline;
font-family: Roboto-Bold,Arial;
font-size: 8.0pt;
}
#s-1df5f44c-bc7b-4b64-a13c-0b7be4ee70fd #s-Text_4 span#rtr-s-Text_4_0 {
color: #808080;
text-align: left;
text-decoration: underline;
font-family: Roboto-Bold,Arial;
font-size: 8.0pt;
line-height: 0px;
}
#s-1df5f44c-bc7b-4b64-a13c-0b7be4ee70fd #s-Text_5 {
position: absolute;
top: 619px;
left: 223px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 8.0pt;
font-family: Roboto-Bold,Arial;
}
#s-1df5f44c-bc7b-4b64-a13c-0b7be4ee70fd #s-Text_5 .valign {
vertical-align: middle;
text-align: left;
}
#s-1df5f44c-bc7b-4b64-a13c-0b7be4ee70fd #s-Text_5 span {
color: #808080;
text-align: left;
text-decoration: underline;
font-family: Roboto-Bold,Arial;
font-size: 8.0pt;
}
#s-1df5f44c-bc7b-4b64-a13c-0b7be4ee70fd #s-Text_5 span#rtr-s-Text_5_0 {
color: #808080;
text-align: left;
text-decoration: underline;
font-family: Roboto-Bold,Arial;
font-size: 8.0pt;
line-height: 0px;
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-1df5f44c-bc7b-4b64-a13c-0b7be4ee70fd > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}