#s-1df5f44c-bc7b-4b64-a13c-0b7be4ee70fd #s-Flat-button-light {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-1df5f44c-bc7b-4b64-a13c-0b7be4ee70fd #s-Text_3 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-1df5f44c-bc7b-4b64-a13c-0b7be4ee70fd #s-Flat-button-light_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-1df5f44c-bc7b-4b64-a13c-0b7be4ee70fd #s-Text_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-1df5f44c-bc7b-4b64-a13c-0b7be4ee70fd #s-Text_5 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-1df5f44c-bc7b-4b64-a13c-0b7be4ee70fd > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}