#s-8f836602-d03a-454f-907d-ca540dc80382 #s-Rectangle_5 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8f836602-d03a-454f-907d-ca540dc80382 #s-Flat-button-light {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8f836602-d03a-454f-907d-ca540dc80382 #s-Rectangle_6 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8f836602-d03a-454f-907d-ca540dc80382 #s-Rectangle_7 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8f836602-d03a-454f-907d-ca540dc80382 #s-Rectangle_8 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8f836602-d03a-454f-907d-ca540dc80382 #s-Flat-button-light_3 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8f836602-d03a-454f-907d-ca540dc80382 #s-Label_37 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8f836602-d03a-454f-907d-ca540dc80382 #s-Label_3 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8f836602-d03a-454f-907d-ca540dc80382 #s-Label_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8f836602-d03a-454f-907d-ca540dc80382 #s-Label_5 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8f836602-d03a-454f-907d-ca540dc80382 #s-Label_6 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8f836602-d03a-454f-907d-ca540dc80382 #s-Label_7 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=93) ;
filter: alpha(opacity=93) ;
margin-left: 0px;
margin-top: 0px;
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-8f836602-d03a-454f-907d-ca540dc80382 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}