#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_4 > .valign {
vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_7 {
-ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_2 {
-ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_5 {
-ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Two-line-item_20 {
-ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Two-line-item_12 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
filter: alpha(opacity=97);
-ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Icon_phone_6 {
-ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Two-line-item_21 {
-ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Icon_phone_13 {
-ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Two-line-item_28 {
-ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Icon_phone_16 {
-ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Two-line-item_30 {
-ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Icon_phone_18 {
-ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}