#s-e248db5e-7a6e-45c4-889b-7f7dd8353a9b #s-Text_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-e248db5e-7a6e-45c4-889b-7f7dd8353a9b #s-Text_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-e248db5e-7a6e-45c4-889b-7f7dd8353a9b #s-Flat-button-light {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-e248db5e-7a6e-45c4-889b-7f7dd8353a9b #s-Text_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-e248db5e-7a6e-45c4-889b-7f7dd8353a9b #s-Text_5 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-e248db5e-7a6e-45c4-889b-7f7dd8353a9b #s-Text_6 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-e248db5e-7a6e-45c4-889b-7f7dd8353a9b #s-Text_7 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-e248db5e-7a6e-45c4-889b-7f7dd8353a9b #s-Text_8 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-e248db5e-7a6e-45c4-889b-7f7dd8353a9b #s-Text_9 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-e248db5e-7a6e-45c4-889b-7f7dd8353a9b #s-Flat-button-light_1 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
filter: alpha(opacity=87) ;
margin-left: 0px;
margin-top: 0px;
}
#s-e248db5e-7a6e-45c4-889b-7f7dd8353a9b #s-Flat-button-light_2 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
filter: alpha(opacity=87) ;
margin-left: 0px;
margin-top: 0px;
}
#s-e248db5e-7a6e-45c4-889b-7f7dd8353a9b #s-Text_10 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-e248db5e-7a6e-45c4-889b-7f7dd8353a9b #s-Flat-button-light_3 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-e248db5e-7a6e-45c4-889b-7f7dd8353a9b #s-Text_11 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-e248db5e-7a6e-45c4-889b-7f7dd8353a9b #s-Label_37 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-e248db5e-7a6e-45c4-889b-7f7dd8353a9b #s-Label_3 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=93) ;
filter: alpha(opacity=93) ;
margin-left: 0px;
margin-top: 0px;
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-e248db5e-7a6e-45c4-889b-7f7dd8353a9b > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}